{% comment %} <!-- Footer -->
  <footer id="main-footer " class="py-4 bg-dark text-white text-center">
    Copyright &copy;
    <span class="year"></span> Akamis Dairies
  </footer> {% endcomment %}
  <!-- Footer -->

  <footer class="page-footer font-small footer-light sticky-top pt-2 mt-2" style="background-color:  #4A0404;">
  <div class="row">
    <div class="col">
      <h5 class="text-center text-white">ABOUT US</h5>
      <p class="text-center text-white">
        Smart Fix is a home maintenance,construction and renovation company providing professional and guaranteed materials and services for residential and commercial clients. 
      </p>
    </div>
    
  <div class="col">
    <h5 class="text-center text-white">ADDRESS</h5> 
    <h5 class="text-center text-white">
      <i class="fa fa-map-marker"></i>4521 Street, Nakuru, Kenya
    </h5>
    <h5 class="text-center text-white">
      <i class="fas fa-phone"></i> 0790309700
    </h5> 
    <h5 class="text-center text-white">
      <i class="fas fa-envelope"></i>smartfixkenya@gmail.com
    </h5> 
   
      <div class="container ">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f "> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1" href="#">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1" href="#">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1" href="#">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
         
        </ul>
        <!-- Social buttons -->
    
      </div>
      <!-- Footer Elements -->
    </div>
  </div>
  <!-- Footer Elements -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 " style="color: #87ceeb;">Copyright &copy;  <a href="#">Smartfix Kenya</a>, All Right Reserved.
   
  </div>
  <!-- Copyright --> 
  
</footer>
<!-- Footer -->